.genres {
    display: flex;
    flex-wrap: wrap;
    /*height:200px;*/
    align-content: center;
    justify-content: center;
    /*background-color: rgba(21, 20, 20, 0.93);*/
    width: 100%;
    height: fit-content;
    padding-top: 100px;
}

.genre-buttons-container {
    width:95%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 20px;
}
.genres.light-theme {
    background-color: rgb(205, 198, 194);
}
@keyframes shine {
    0% {
        background-position: -200%;
    }
    100% {
        background-position: 200%;
    }
}
@media (max-width: 480px) {
    .background-img {
        padding: 10px 10px 50px;
    }
    .genres {
        height: fit-content;
        padding-top: 60px;
    }
.mobile-button {
    font-size: 13px;
    padding: 2px 5px;
    margin: 5px;
}

}
